.slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    text-align: center;
    margin: 0px 3px;
    padding: 11% 1% 11% 1.5%;
    border-left: 3px solid lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}